.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 35px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 20px;
}